<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>《機動戰姬：聚變》角色強度排行┃鶴姬重工┃Taiwan Games DataBase</title>
    <link href="./css/normal.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/master.css.js"></script>
    <script src="./js/app.js"></script>
  </head>
  <style>
    .ur {
      background-image: linear-gradient(to right,#FFC1E0,#FFA6FF,#B9B9FF,#C4E1FF);
    }
    .urt {
      background-image: linear-gradient(to right,#FFC1E0,#FFA6FF,#B9B9FF,#C4E1FF);
    }
    .ssrt {
      background-image: linear-gradient(to right,#FFA042,#FFF4C1);
    }
    .srt {
      background-image: linear-gradient(to right,#CA8EFF,#FFD0FF);
    }
    .rt {
      background-image: linear-gradient(to right,#84C1FF,#D9FFFF);
    }
    .super {
      color: #ff359a;
    }
    .event {
      color: #FF2D2D;
    }
    .Collabs {
      color: #921AFF;
    }
    .factor {
      color: #ff359a;
    }
    .thsticky {
      position: sticky;
    }
  </style>
  <body class="bg:fade-90 bg:fade-18@dark
    {w:8;h:6;rounded}::scrollbar
    bg:fade-86::scrollbar-thumb
    bg:fade-76::scrollbar-thumb:hover
    bg:fade-66::scrollbar-thumb:active
    bg:gray-30::scrollbar-thumb@dark
    bg:gray-40::scrollbar-thumb:hover@dark
    bg:gray-50::scrollbar-thumb:active@dark
    bg:transparent::scrollbar-corner
    rounded::scrollbar-thumb
    overflow-x:visible">
    <main>
      <aside
        id="menu"
        class="fixed top:0 left:0 z:999 w:full w:240@sm h:full p:10|10|80 p:10@sm bg:fade-90 bg:fade-18@dark translateY(100%) translateY(0)@sm ~transform|.4s translateY(0).is-open"
      ></aside>

      <article class="{w:calc(100%-230px);ml:auto}@sm">
        <header
          id="header"
          class="sticky top:0 left:0 z:998 flex gap-x:10 p:10 bg:fade-90 bg:fade-18@dark"
        ></header>

        <section id="app" class="p:0|10|10">
          <div
            class="min-h:calc(100vh-90px) p:20|20|70 pt:20@sm p:40@sm bg:fade-88 bg:fade-24@dark bg:no-repeat bg:fixed bg:100% bg:url(https://lktb2000.github.io/LenaElsaStudio//img/home/main_background_860_w.jpg) bg:url(https://lktb2000.github.io/LenaElsaStudio/img/home/main_background_860.jpg)@dark r:8"
          >
            <div class="hide grid-cols:3 gap:10">  <!-- Hide隱藏 -->
              <div class="grid-col-span:3">
                <h3 class="f:bold f:20 f:white">表格標頭底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.header"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.header}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">SSR 標頭底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.ssrHeader"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.ssrHeader}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">SR 標頭底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.srHeader"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.srHeader}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">R 標頭底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.rHeader"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.rHeader}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">SSR 底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.ssr"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.ssr}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">SR 底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.sr"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.sr}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">R 底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.r"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.r}`"></div>
                </div>
              </div>
            
          </div>
            <h2 class="mb:10 f:24 f:38@sm f:fade-42 f:white@dark">角色強度排行</h2>
            <div
              class="
                overflow-x:auto
                {h:4;rounded}::scrollbar
                {bg:fade-84;rounded}::scrollbar-thumb bg:fade-40::scrollbar-thumb@dark bg:fade-80::scrollbar-thumb:hover bg:fade-48::scrollbar-thumb:hover@dark"
            >
              <table class="mb:10">
                <tr class="v:bottom">
                  <td>
                    <div class="w:max bl:5|solid|blue-60 mr:15 bg:linear-gradient(to|right,rgba(151,203,255,0.8),rgba(236,255,255,0.8)) f:black p:8|14 lh:1.6 f:18">
                      <span class="f:bolder f:#FFE153 text-shadow:2|2|4|black">SS</span>：非常強勢，具有無可取代性或獨特性<br>
                      <span class="f:bolder f:#FF9797 text-shadow:2|2|4|black">Ｓ</span>：強勢，且經常選用<br>
                      <span class="f:bolder f:#ACD6FF text-shadow:2|2|4|black">Ａ</span>：普通，視情況選用<br>
                      <span class="f:bolder f:#BBFFBB text-shadow:2|2|4|black">Ｂ</span>：弱勢，幾乎不使用
                    </div>
                  </td>
                  <td>
                    <div class="w:max bl:5|solid|blue-60 mr:15 bg:linear-gradient(to|right,rgba(151,203,255,0.8),rgba(236,255,255,0.8)) f:black p:8|14 lh:1.6 f:18">
                      <span class="f:bolder f:#FFC1E0 text-shadow:2|2|4|black">T</span>
                      <span class="f:bolder f:#FFBFFF text-shadow:2|2|4|black">i</span>
                      <span class="f:bolder f:#B9B9FF text-shadow:2|2|4|black">e</span>
                      <span class="f:bolder f:#C4E1FF text-shadow:2|2|4|black">r 0</span>：綜合性能極高，且具有不可取代性或特殊作用的角色<br>

                      <span class="f:bolder f:#FFA042 text-shadow:2|2|4|black">Tier 1</span>：綜合性能優秀，或特定場合特別強勢的角色<br>
                      <span class="f:bolder f:#FFD0FF text-shadow:2|2|4|black">Tier 2</span>：綜合性能尚可的對策性角色<br>
                      <span class="f:bolder f:#ACD6FF text-shadow:2|2|4|black">Tier 3</span>：綜合性能較為不足的弱勢角色
                    </div>
                  </td>
                  <td>
                    <div class="w:max bl:5|solid|blue-60 mr:15 bg:linear-gradient(to|right,rgba(151,203,255,0.8),rgba(236,255,255,0.8)) f:black p:8|14 lh:1.6 f:18">
                      最新更新日期：2023 04/02
                    </div>
                  </td>
                </tr>
              </table>
              <table
                class="
                w:full
                min-w:900
                t:center
                border-collapse:collapse
                table-layout:fixed
                {p:8|6;lh:1.25;b:1|solid|fade-24}_thead_th
                {p:6;b:1|solid|fade-24}_td
                {f:bolder;f:22}_td:nth(1)
                {p:0}_td:nth(2)
                {f:bolder;f:18}_td:nth(3)
                {p:0}_td:nth(4)
                {f:bolder}_td:nth(5)
                {f:bolder;f:26}_td:nth(6)
                {f:bolder;f:26}_td:nth(7)
                {f:bolder;f:26}_td:nth(8)
                {f:20}_td:nth(9)
                {t:left}_td:nth(11)
                "
                :class="[`bg:${colors.header}_.header`,`bg:${colors.ssr}_.ssr`,`bg:${colors.sr}_.sr`,`bg:${colors.r}_.r`,`bg:${colors.ssrHeader}_.ssr-header`,`bg:${colors.srHeader}_.sr-header`,`bg:${colors.rHeader}_.r-header`]"
              >
                <colgroup> <!-- 總寬1581 -->
                  <col span="1" class="w:65px">
                  <col span="1" class="w:85px">
                  <col span="1" class="w:165px">
                  <col span="1" class="w:55px">
                  <col span="1" class="w:145px">
                  <col span="3" class="w:55px">
                  <col span="1" class="w:65px">
                  <col span="1" class="w:200px">
                  <col span="1" class="w:636px">
                </colgroup>
                <thead>
                  <tr class="ur {f:32}">
                    <th colspan="11">Tier 0</th>
                  </tr>
                  <tr class="header">
                    <th>評級</th>
                    <th>頭像</th>
                    <th>角色</th>
                    <th>類型</th>
                    <th>招募類別</th>
                    <th>拓荒</th>
                    <th>總力</th>
                    <th>PvP</th>
                    <th>專武<br>優先級</th>
                    <th>角色定位</th>
                    <th>簡評</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- 範例 -->
                  <tr class="ssr hide"> 
                    <td>10.0</td>
                    <td><img src="./img/arterygear/char_portrait" style="width:165px;"></td>
                    <td>角色</td>
                    <td><img src="./img/arterygear/Icon"></td>
                    <td><span class="f:#FF2D2D">招募</span></td>
                    <td><span class="f:bolder f:#FFE153 text-shadow:2|2|4|black">SS</span></td>
                    <td><span class="f:bolder f:#FF9797 text-shadow:2|2|4|black">S</span></td>
                    <td><span class="f:bolder f:#ACD6FF text-shadow:2|2|4|black">A</span></td>
                    <td>0↑</td>
                    <td>定位</td>
                    <td>簡評</td>
                  </tr>
                  <tr class="ssr">
                    <td class="ur">10.0</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000120.png" style="width:165px;"></td>
                    <td>克拉麗絲</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_4.png"></td>
                    <td><span class="event">活動招募</span></td>
                    <td><span class="f:bolder f:#FFE153 text-shadow:2|2|4|black">SS</span></td>
                    <td><span class="f:bolder f:#FFE153 text-shadow:2|2|4|black">SS</span></td>
                    <td><span class="f:bolder f:#FFE153 text-shadow:2|2|4|black">SS</span></td>
                    <td>無</td>
                    <td>先手推條(核彈發射器)<br>強力增傷<br>群體無敵/自我推條</td>
                    <td>PvP主流的魔法核彈核心之一。愛麗絲的完全上位版。推進80%附帶強力增傷效果，是目前PvP強勢的魔法核彈中的發射器，在PvE也是強力的增傷及推條手段。群體無敵在各種場合也帶來極大的生存保障及自身推條。進攻及防守性能都極強的輔助。</td>
                  </tr>
                </tbody>
                <thead>
                  <tr class="ssrt {f:32}">
                    <th colspan="11">Tier 1</th>
                  </tr>
                  <tr class="header">
                    <th>評級</th>
                    <th>頭像</th>
                    <th>角色</th>
                    <th>類型</th>
                    <th>招募類別</th>
                    <th>拓荒</th>
                    <th>總力</th>
                    <th>PvP</th>
                    <th>專武<br>優先級</th>
                    <th>角色定位</th>
                    <th>簡評</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="ssr">
                    <td class="ssrt">9.0</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040011.png" style="width:165px;"></td>
                    <td>鹿目圓</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_1.png"></td>
                    <td><span class="Collabs">魔法少女小圓<br>進階招募</span></td>
                    <td><span class="f:bolder f:#FF9797 text-shadow:2|2|4|black">S</span></td>
                    <td><span class="f:bolder f:#ACD6FF text-shadow:2|2|4|black">A</span></td>
                    <td><span class="f:bolder f:#FFE153 text-shadow:2|2|4|black">SS</span></td>
                    <td>30</td>
                    <td>高貫穿群傷(魔法核彈)<br>首回合減傷</td>
                    <td>PvP主流的魔法核彈核心之一。無條件貫穿85%防禦的AOE，除少部分特規角色之外，被增傷過後基本不會留活口，出手即勝利，是目前各式新體系主要針對角色之一。由於毀滅性的範圍傷害是由高額貫穿所打出來的，在PvE中難以再提高上限，發揮較為普通。</td>
                  </tr>
                </tbody>
                <thead>
                  <tr class="srt {f:32}">
                    <th colspan="11">Tier 2</th>
                  </tr>
                  <tr class="header">
                    <th>評級</th>
                    <th>頭像</th>
                    <th>角色</th>
                    <th>類型</th>
                    <th>招募類別</th>
                    <th>拓荒</th>
                    <th>總力</th>
                    <th>PvP</th>
                    <th>專武<br>優先級</th>
                    <th>角色定位</th>
                    <th>簡評</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="ssr">
                    <td class="srt">8.0</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000003.png" style="width:165px;"></td>
                    <td>梅爾</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_1.png"></td>
                    <td><span class="super">超武裝<br>限時招募</span></td>
                    <td><span class="f:bolder f:#ACD6FF text-shadow:2|2|4|black">A</span></td>
                    <td><span class="f:bolder f:#ACD6FF text-shadow:2|2|4|black">A</span></td>
                    <td><span class="f:bolder f:#ACD6FF text-shadow:2|2|4|black">A</span></td>
                    <td>無</td>
                    <td>單體爆發<br>群體推條</td>
                    <td>性能不足，待專武增強。隨目標越少大招越痛，在對單目標且帶有〈福音〉狀態時，裸傷比莉拉裸2+3還高出約13%傷害，且無透過任何增傷、貫穿手段，上限可塑性極高。在PvP主要作為友軍AOE後的群體推進手段，定位較偏向於對策功能角，而非輸出。</td>
                  </tr>
                </tbody>
                <thead>
                  <tr class="rt {f:32}">
                    <th colspan="11">Tier 3</th>
                  </tr>
                  <tr class="header">
                    <th>評級</th>
                    <th>頭像</th>
                    <th>角色</th>
                    <th>類型</th>
                    <th>招募類別</th>
                    <th>拓荒</th>
                    <th>總力</th>
                    <th>PvP</th>
                    <th>專武<br>優先級</th>
                    <th>角色定位</th>
                    <th>簡評</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="r"> 
                    <td class="rt">7.5</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000001.png" style="width:165px;"></td>
                    <td>妮歐</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_2.png"></td>
                    <td><span class="factor">初始</span></td>
                    <td><span class="f:bolder f:#ACD6FF text-shadow:2|2|4|black">A</span></td>
                    <td><span class="f:bolder f:#ACD6FF text-shadow:2|2|4|black">A</span></td>
                    <td><span class="f:bolder f:#BBFFBB text-shadow:2|2|4|black">B</span></td>
                    <td>30</td>
                    <td>破防手<br>增傷輔助(攻擊)</td>
                    <td>純粹的破防+增傷輔助，在總力角色不足時是個可選用的輔助，但由於破防基礎機率只有75%，使用上較不穩定，需要依靠滿專才能拉到100%，但相對的成本也提高不少。</td>
                  </tr>
                </tbody>
              </table>  
            </div>
          </div>
        </section>
      </article>

      <button
        id="menu-toggle"
        class="fixed bottom:10 left:1/2 z:1000 flex hide@sm center-content w:180 h:60 px:20 bg:linear-gradient(135deg,#618bfb,#ff56b4) r:8 translateX(-50%) ~width|.4s w:calc(100%-20px).is-active"
        type="button"
      >
        <span class="f:14 f:white .is-active_{hide}">展開選單</span>
        <span class="hide f:14 f:white .is-active_{block}">關閉選單</span>
        <div class="rel w:20 h:30 ml:4 .is-active_{ml:auto}">
          <span
            class="abs top:-8 right:0 bottom:0 left:0 w:10 h:1 m:auto bg:fade-90 .is-active_{top:0;rotate(45deg)}"
          ></span>
          <span
            class="abs top:0 right:0 bottom:0 left:0 w:10 h:1 m:auto bg:fade-90 .is-active_{opacity:0}"
          ></span>
          <span
            class="abs top:8 right:0 bottom:0 left:0 w:10 h:1 m:auto bg:fade-90 .is-active_{top:0;rotate(-45deg)}"
          ></span>
        </div>
      </button>
    </main>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            colors: {
              header:'#ffcf4f',
              ssr: "#fff2cc",
              sr: "#F1E1FF",
              r: "#D2E9FF",
              'ssrHeader':'#ffe599',
              'srHeader':'#DCB5FF',
              'rHeader':'#ACD6FF',
            },
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
