<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>《機動戰姬：聚變》角色強度排行┃鶴姬重工┃Taiwan Games DataBase</title>
    <link href="./css/normal.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/master.css.js"></script>
    <script src="./js/app.js"></script>
  </head>
  <body class="bg:fade-90 bg:fade-18@dark">
    <main>
      <aside
        id="menu"
        class="fixed top:0 left:0 z:999 w:full w:240@sm h:full p:10|10|80 p:10@sm bg:fade-90 bg:fade-18@dark translateY(100%) translateY(0)@sm ~transform|.4s translateY(0).is-open"
      ></aside>

      <article class="{w:calc(100%-230px);ml:auto}@sm">
        <header
          id="header"
          class="sticky top:0 left:0 z:998 flex gap-x:10 p:10 bg:fade-90 bg:fade-18@dark"
        ></header>

        <section id="app" class="p:0|10|10">
          <div
            class="min-h:calc(100vh-90px) p:20|20|70 pt:20@sm p:40@sm bg:fade-88 bg:fade-24@dark r:8"
          >
            <div class="hide grid-cols:3 gap:10">  <!-- Hide隱藏 -->
              <div class="grid-col-span:3">
                <h3 class="f:bold f:20 f:white">表格標頭底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.header"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.header}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">SSR 標頭底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.ssrHeader"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.ssrHeader}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">SR 標頭底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.srHeader"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.srHeader}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">R 標頭底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.rHeader"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.rHeader}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">SSR 底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.ssr"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.ssr}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">SR 底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.sr"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.sr}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">R 底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.r"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.r}`"></div>
                </div>
              </div>
            
          </div>
            <h2 class="mb:10 f:24 f:38@sm f:fade-42 f:white@dark">角色強度排行</h2>
            <div
              class="
                overflow-x:auto
                {h:4;rounded}::scrollbar
                {bg:fade-84;rounded}::scrollbar-thumb bg:fade-40::scrollbar-thumb@dark bg:fade-80::scrollbar-thumb:hover bg:fade-48::scrollbar-thumb:hover@dark"
            >
            <div class="grid-cols:5 gap:10 w:full">
              <div class="w:max box box-shadow:5|5|gray-70 bg:linear-gradient(to|right,#C4E1FF,#ECFFFF) f:black r:8 p:10|16 lh:1.8 f:18 ">
                最新更新日期：2023 03/29<br>
                <span class="f:bolder">Tier 0</span>：PvE、PvP皆非常強勢<br>
                <span class="f:bolder">Tier 1</span>：PvE、PvP皆非常強勢<br>
                <span class="f:bolder">Tier 2</span>：PvE、PvP皆非常強勢<br>
                <span class="f:bolder">Tier 3</span>：PvE、PvP皆非常強勢<br>
              </div>
              <div class="w:max box box-shadow:5|5|gray-70 bg:linear-gradient(to|right,#C4E1FF,#ECFFFF) f:black r:8 p:10|16 lh:1.8 f:18 ">
                最新更新日期：2023 03/29<br>
                <span class="f:bolder">Tier 0</span>：PvE、PvP皆非常強勢<br>
                <span class="f:bolder">Tier 1</span>：PvE、PvP皆非常強勢<br>
                <span class="f:bolder">Tier 2</span>：PvE、PvP皆非常強勢<br>
                <span class="f:bolder">Tier 3</span>：PvE、PvP皆非常強勢XXX<br>
              </div>
            </div>

          <br>

            <table
              class="
              w:full
              min-w:900
              t:center
              border-collapse:collapse
              table-layout:fixed
              {p:8|6;lh:1.25;b:1|solid|fade-24}_thead_th
              {p:6;b:1|solid|fade-24}_td
              {f:bolder;f:22}_td:nth(1)
              {p:0}_td:nth(2)
              {f:bolder}_td:nth(3)
              {p:0}_td:nth(4)
              {f:bolder}_td:nth(6)
              {f:bolder}_td:nth(7)
              {f:bolder}_td:nth(8)
              {t:left}_td:nth(12)
              "
              :class="[`bg:${colors.header}_.header`,`bg:${colors.ssr}_.ssr`,`bg:${colors.sr}_.sr`,`bg:${colors.r}_.r`,`bg:${colors.ssrHeader}_.ssr-header`,`bg:${colors.srHeader}_.sr-header`,`bg:${colors.rHeader}_.r-header`]"
            >
              <colgroup>
                <col span="1" class="w:85px">
                <col span="1" class="w:75px">
                <col span="1" class="w:165px">
                <col span="1" class="w:50px">
                <col span="1" class="w:145px">
                <col span="3" class="w:50px">
                <col span="1" class="w:65px">
                <col span="1" class="w:125px">
                <col span="1" class="w:180px">
                <col span="1" class="w:532px">
              </colgroup>
              <thead>
                <tr class="bg:linear-gradient(to|right,#FFC1E0,#FFBFFF,#B9B9FF,#C4E1FF) {f:32}">
                  <th colspan="12">Tier 0</th>
                </tr>
                <tr class="header">
                  <th>分數評級</th>
                  <th>頭像</th>
                  <th>角色</th>
                  <th>類型</th>
                  <th>招募類別</th>
                  <th>拓荒</th>
                  <th>總力挑戰</th>
                  <th>PvP</th>
                  <th>專武<br>優先級</th>
                  <th>建議配裝</th>
                  <th>建議屬性</th>
                  <th>簡評</th>
                </tr>
              </thead>
              <tbody>
                <tr class="ssr">
                  <td>10.99</td>
                  <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000001.png" style="width:165px;"></td>
                  <td>科洛蒂婭．巴蘭茨</td>
                  <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_1.png"></td>
                  <td>萊莎的煉金工房<br>進階招募</td>
                  <td>SS</td>
                  <td>SS</td>
                  <td>SS</td>
                  <td>30↑</td>
                  <td>暴傷(4)/暴擊(2)<br>生命/防禦/抵抗</td>
                  <td>暴率 85% / 命中 47%<br>攻擊>暴傷>速度>生命</td>
                  <td>泡影：持續期間不會死亡，受到攻擊後若自身生命值為1，則解除泡影狀態，恢復自身20%生命值並使用普通攻擊對敵人進行追加攻擊。</td>
                </tr>
              </tbody>
              <thead>
                <tr class="bg:linear-gradient(to|right,#FF9224,#FFF4C1) {f:32}">
                  <th colspan="12">T1</th>
                </tr>
                <tr class="header">
                  <th>分數評級</th>
                  <th>頭像</th>
                  <th>角色</th>
                  <th>類型</th>
                  <th>招募類別</th>
                  <th>拓荒</th>
                  <th>總力挑戰</th>
                  <th>PvP</th>
                  <th>專武<br>優先級</th>
                  <th>建議配裝</th>
                  <th>建議屬性</th>
                  <th>簡評</th>
                </tr>
              </thead>
              <tbody>
                <tr class="ssr bg:linear-gradient(to|right,#FFC1E0,#FFBFFF,#B9B9FF,#C4E1FF)">
                  <td>10.99</td>
                  <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000001.png" style="width:165px;"></td>
                  <td>科洛蒂婭．巴蘭茨</td>
                  <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_1.png"></td>
                  <td>萊莎的煉金工房<br>進階招募</td>
                  <td>SS</td>
                  <td>SS</td>
                  <td>SS</td>
                  <td>30↑</td>
                  <td>暴傷(4)/暴擊(2)<br>生命/防禦/抵抗</td>
                  <td>暴率 85% / 命中 47%<br>攻擊>暴傷>速度>生命</td>
                  <td>泡影：持續期間不會死亡，受到攻擊後若自身生命值為1，則解除泡影狀態，恢復自身20%生命值並使用普通攻擊對敵人進行追加攻擊。</td>
                </tr>
                <tr class="ssr">
                  <td>10.99</td>
                  <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000001.png" style="width:165px;"></td>
                  <td>科洛蒂婭．巴蘭茨</td>
                  <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_1.png"></td>
                  <td>萊莎的煉金工房<br>進階招募</td>
                  <td>SS</td>
                  <td>SS</td>
                  <td>SS</td>
                  <td>30↑</td>
                  <td>暴傷(4)/暴擊(2)<br>生命/防禦/抵抗</td>
                  <td>暴率 85% / 命中 47%<br>攻擊>暴傷>速度>生命</td>
                  <td>泡影：持續期間不會死亡，受到攻擊後若自身生命值為1，則解除泡影狀態，恢復自身20%生命值並使用普通攻擊對敵人進行追加攻擊。</td>
                </tr>
                <tr class="sr">
                  <td>10.99</td>
                  <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000001.png" style="width:165px;"></td>
                  <td>科洛蒂婭．巴蘭茨</td>
                  <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_1.png"></td>
                  <td>萊莎的煉金工房<br>進階招募</td>
                  <td>SS</td>
                  <td>SS</td>
                  <td>SS</td>
                  <td>30↑</td>
                  <td>暴傷(4)/暴擊(2)<br>生命/防禦/抵抗</td>
                  <td>暴率 85% / 命中 47%<br>攻擊>暴傷>速度>生命</td>
                  <td>泡影：持續期間不會死亡，受到攻擊後若自身生命值為1，則解除泡影狀態，恢復自身20%生命值並使用普通攻擊對敵人進行追加攻擊。</td>
                </tr>
                <tr class="r">
                  <td>10.99</td>
                  <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000001.png" style="width:165px;"></td>
                  <td>科洛蒂婭．巴蘭茨</td>
                  <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_1.png"></td>
                  <td>萊莎的煉金工房<br>進階招募</td>
                  <td>SS</td>
                  <td>SS</td>
                  <td>SS</td>
                  <td>30↑</td>
                  <td>暴傷(4)/暴擊(2)<br>生命/防禦/抵抗</td>
                  <td>暴率 85% / 命中 47%<br>攻擊>暴傷>速度>生命</td>
                  <td>泡影：持續期間不會死亡，受到攻擊後若自身生命值為1，則解除泡影狀態，恢復自身20%生命值並使用普通攻擊對敵人進行追加攻擊。</td>
                </tr>
              </tbody>
              <thead>
                <tr class="bg:linear-gradient(to|right,#CA8EFF,#FFD0FF) {f:32}">
                  <th colspan="12">T2</th>
                </tr>
                <tr class="header">
                  <th>分數評級</th>
                  <th>頭像</th>
                  <th>角色</th>
                  <th>類型</th>
                  <th>招募類別</th>
                  <th>拓荒</th>
                  <th>總力挑戰</th>
                  <th>PvP</th>
                  <th>專武<br>優先級</th>
                  <th>建議配裝</th>
                  <th>建議屬性</th>
                  <th>簡評</th>
                </tr>
              </thead>
              <tbody>
                <tr class="sr">
                  <td>10.99</td>
                  <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000001.png" style="width:165px;"></td>
                  <td>科洛蒂婭．巴蘭茨</td>
                  <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_1.png"></td>
                  <td>萊莎的煉金工房<br>進階招募</td>
                  <td>SS</td>
                  <td>SS</td>
                  <td>SS</td>
                  <td>30↑</td>
                  <td>暴傷(4)/暴擊(2)<br>生命/防禦/抵抗</td>
                  <td>暴率 85% / 命中 47%<br>攻擊>暴傷>速度>生命</td>
                  <td>泡影：持續期間不會死亡，受到攻擊後若自身生命值為1，則解除泡影狀態，恢復自身20%生命值並使用普通攻擊對敵人進行追加攻擊。</td>
                </tr>
              </tbody>
              <thead>
                <tr class="bg:linear-gradient(to|right,#84C1FF,#D9FFFF) {f:32}">
                  <th colspan="12">T3</th>
                </tr>
                <tr class="header">
                  <th>分數評級</th>
                  <th>頭像</th>
                  <th>角色</th>
                  <th>類型</th>
                  <th>招募類別</th>
                  <th>拓荒</th>
                  <th>總力挑戰</th>
                  <th>PvP</th>
                  <th>專武<br>優先級</th>
                  <th>建議配裝</th>
                  <th>建議屬性</th>
                  <th>簡評</th>
                </tr>
              </thead>
              <tbody>
                <tr class="r">
                  <td>10.99</td>
                  <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000001.png" style="width:165px;"></td>
                  <td>科洛蒂婭．巴蘭茨</td>
                  <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_1.png"></td>
                  <td>萊莎的煉金工房<br>進階招募</td>
                  <td>SS</td>
                  <td>SS</td>
                  <td>SS</td>
                  <td>30↑</td>
                  <td>暴傷(4)/暴擊(2)<br>生命/防禦/抵抗</td>
                  <td>暴率 85% / 命中 47%<br>攻擊>暴傷>速度>生命</td>
                  <td>泡影：持續期間不會死亡，受到攻擊後若自身生命值為1，則解除泡影狀態，恢復自身20%生命值並使用普通攻擊對敵人進行追加攻擊。</td>
                </tr>
              </tbody>
            </table>  
            

            <br>
            
              <table
                class="w:full min-w:900 t:center border-collapse:collapse table-layout:fixed {p:16|10;lh:1.25;b:1|solid|fade-24}_thead_th {p:10;b:1|solid|fade-24}_td"
                :class="[`bg:${colors.header}_.header`,`bg:${colors.ssr}_.ssr`,`bg:${colors.sr}_.sr`,`bg:${colors.r}_.r`,`bg:${colors.ssrHeader}_.ssr-header`,`bg:${colors.srHeader}_.sr-header`,`bg:${colors.rHeader}_.r-header`]"
              >
                <thead>
                  <tr class="bg:linear-gradient(to|right,#eeaeca,#94bbe9)">
                    <th colspan="21">T1</th>
                  </tr>
                  <tr class="header">
                    <th>頭像</th>
                    <th>AG</th>
                    <th>招募類別</th>
                    <th>類型</th>
                    <th>生命</th>
                    <th>速度</th>
                    <th>攻擊</th>
                    <th>防禦</th>
                    <th>暴擊</th>
                    <th>暴傷</th>
                    <th>狀態<br />命中</th>
                    <th>狀態<br />抵抗</th>
                    <th>技能1<br />倍率</th>
                    <th>技能2<br />倍率</th>
                    <th>技能3<br />倍率</th>
                    <th>技能TAG</th>
                    <th>技能TAG</th>
                    <th>技能TAG</th>
                    <th>資料鏈</th>
                    <th>友軍<br />資料鏈</th>
                    <th>備註</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="ssr">
                    <td class="ssr-header p:120"><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000001.png" style="padding: 0px;"></td>
                    <td class="ssr-header">特斐爾</td>
                    <td>初始</td>
                    <td></td>
                    <td>8507</td>
                    <td>102</td>
                    <td>1109</td>
                    <td>754</td>
                    <td>12%</td>
                    <td>150%</td>
                    <td>0%</td>
                    <td>0%</td>
                    <td>159.0%</td>
                    <td></td>
                    <td>178.1%</td>
                    <td>恢復生命</td>
                    <td>攻擊力疊加</td>
                    <td>攻擊力上升<br />暈眩</td>
                    <td>防禦</td>
                    <td>攻擊</td>
                    <td></td>
                  </tr>
                  <tr class="sr">
                    <td class="sr-header"></td>
                    <td class="sr-header">特斐爾</td>
                    <td>初始</td>
                    <td></td>
                    <td>8507</td>
                    <td>102</td>
                    <td>1109</td>
                    <td>754</td>
                    <td>12%</td>
                    <td>150%</td>
                    <td>0%</td>
                    <td>0%</td>
                    <td>159.0%</td>
                    <td></td>
                    <td>178.1%</td>
                    <td>恢復生命</td>
                    <td>攻擊力疊加</td>
                    <td>攻擊力上升<br />暈眩</td>
                    <td>防禦</td>
                    <td>攻擊</td>
                    <td></td>
                  </tr>
                  <tr class="r">
                    <td class="r-header"></td>
                    <td class="r-header">特斐爾</td>
                    <td>初始</td>
                    <td></td>
                    <td>8507</td>
                    <td>102</td>
                    <td>1109</td>
                    <td>754</td>
                    <td>12%</td>
                    <td>150%</td>
                    <td>0%</td>
                    <td>0%</td>
                    <td>159.0%</td>
                    <td></td>
                    <td>178.1%</td>
                    <td>恢復生命</td>
                    <td>攻擊力疊加</td>
                    <td>攻擊力上升<br />暈眩</td>
                    <td>防禦</td>
                    <td>攻擊</td>
                    <td></td>
                  </tr>
                  <tr class="r">
                    <td class="r-header"></td>
                    <td class="r-header">特斐爾</td>
                    <td>初始</td>
                    <td></td>
                    <td>8507</td>
                    <td>102</td>
                    <td>1109</td>
                    <td>754</td>
                    <td>12%</td>
                    <td>150%</td>
                    <td>0%</td>
                    <td>0%</td>
                    <td>159.0%</td>
                    <td></td>
                    <td>178.1%</td>
                    <td>恢復生命</td>
                    <td>攻擊力疊加</td>
                    <td>攻擊力上升<br />暈眩</td>
                    <td>防禦</td>
                    <td>攻擊</td>
                    <td></td>
                  </tr>
                  <tr class="r">
                    <td class="r-header"></td>
                    <td class="r-header">特斐爾</td>
                    <td>初始</td>
                    <td></td>
                    <td>8507</td>
                    <td>102</td>
                    <td>1109</td>
                    <td>754</td>
                    <td>12%</td>
                    <td>150%</td>
                    <td>0%</td>
                    <td>0%</td>
                    <td>159.0%</td>
                    <td></td>
                    <td>178.1%</td>
                    <td>恢復生命</td>
                    <td>攻擊力疊加</td>
                    <td>攻擊力上升<br />暈眩</td>
                    <td>防禦</td>
                    <td>攻擊</td>
                    <td></td>
                  </tr>
                  <tr class="r">
                    <td class="r-header"></td>
                    <td class="r-header">特斐爾</td>
                    <td>初始</td>
                    <td></td>
                    <td>8507</td>
                    <td>102</td>
                    <td>1109</td>
                    <td>754</td>
                    <td>12%</td>
                    <td>150%</td>
                    <td>0%</td>
                    <td>0%</td>
                    <td>159.0%</td>
                    <td></td>
                    <td>178.1%</td>
                    <td>恢復生命</td>
                    <td>攻擊力疊加</td>
                    <td>攻擊力上升<br />暈眩</td>
                    <td>防禦</td>
                    <td>攻擊</td>
                    <td></td>
                  </tr>
                  <tr class="r">
                    <td class="r-header"></td>
                    <td class="r-header">特斐爾</td>
                    <td>初始</td>
                    <td></td>
                    <td>8507</td>
                    <td>102</td>
                    <td>1109</td>
                    <td>754</td>
                    <td>12%</td>
                    <td>150%</td>
                    <td>0%</td>
                    <td>0%</td>
                    <td>159.0%</td>
                    <td></td>
                    <td>178.1%</td>
                    <td>恢復生命</td>
                    <td>攻擊力疊加</td>
                    <td>攻擊力上升<br />暈眩</td>
                    <td>防禦</td>
                    <td>攻擊</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </article>

      <button
        id="menu-toggle"
        class="fixed bottom:10 left:1/2 z:1000 flex hide@sm center-content w:180 h:60 px:20 bg:linear-gradient(135deg,#618bfb,#ff56b4) r:8 translateX(-50%) ~width|.4s w:calc(100%-20px).is-active"
        type="button"
      >
        <span class="f:14 f:white .is-active_{hide}">展開選單</span>
        <span class="hide f:14 f:white .is-active_{block}">關閉選單</span>
        <div class="rel w:20 h:30 ml:4 .is-active_{ml:auto}">
          <span
            class="abs top:-8 right:0 bottom:0 left:0 w:10 h:1 m:auto bg:fade-90 .is-active_{top:0;rotate(45deg)}"
          ></span>
          <span
            class="abs top:0 right:0 bottom:0 left:0 w:10 h:1 m:auto bg:fade-90 .is-active_{opacity:0}"
          ></span>
          <span
            class="abs top:8 right:0 bottom:0 left:0 w:10 h:1 m:auto bg:fade-90 .is-active_{top:0;rotate(-45deg)}"
          ></span>
        </div>
      </button>
    </main>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            colors: {
              header:'#ffcf4f',
              ssr: "#fff2cc",
              sr: "#F1E1FF",
              r: "#D2E9FF",
              'ssrHeader':'#ffe599',
              'srHeader':'#DCB5FF',
              'rHeader':'#ACD6FF',
            },
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
