<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>《機動戰姬：聚變》角色強度排行┃鶴姬重工┃Taiwan Games DataBase</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.png">
    <link href="./css/normal.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/master.css.js"></script>
    <script src="./js/app.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4817244281405314"
     crossorigin="anonymous"></script>
     <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-19GQQQP52B"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-19GQQQP52B');
    </script>
  </head>
  <body class="bg:fade-90 bg:fade-18@dark
    {w:8;h:6;rounded}::scrollbar
    bg:#d7d8df::scrollbar-thumb
    bg:#c3c6cf::scrollbar-thumb:hover
    bg:#c3c6cf::scrollbar-thumb:active
    bg:#4c515f::scrollbar-thumb@dark
    bg:#5e6476::scrollbar-thumb:hover@dark
    bg:#5e6476::scrollbar-thumb:active@dark
    bg:transparent::scrollbar-corner
    rounded::scrollbar-thumb
    overflow-x:visible">
    <main>
      <aside
        id="menu"
        class="fixed top:0 left:0 z:999 w:full w:240@sm h:full p:10|10|80 p:10@sm bg:fade-90 bg:fade-18@dark translateY(100%) translateY(0)@sm ~transform|.4s translateY(0).is-open"
      ></aside>

      <article class="{w:calc(100%-230px);ml:auto}@sm">
        <header
          id="header"
          class="sticky top:0 left:0 z:998 flex gap-x:10 p:10 bg:fade-90 bg:fade-18@dark"
        ></header>

        <section id="app" class="p:0|10|10">
          <div
            class="min-h:calc(100vh-90px) p:20|20|70 pt:20@sm p:40@sm bg:fade-88 bg:fade-24@dark bg:no-repeat bg:fixed bg:100% bg:url(./img/home/main_background_860_w.jpg) bg:url(./img/home/main_background_860.jpg)@dark r:8"
          >
            <div class="hide grid-cols:3 gap:10">  <!-- Hide隱藏 -->
              <div class="grid-col-span:3">
                <h3 class="f:bold f:20 f:white">表格標頭底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.header"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.header}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">SSR 標頭底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.ssrHeader"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.ssrHeader}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">SR 標頭底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.srHeader"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.srHeader}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">R 標頭底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.rHeader"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.rHeader}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">SSR 底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.ssr"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.ssr}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">SR 底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.sr"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.sr}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">R 底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.r"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.r}`"></div>
                </div>
              </div>
            
          </div>
            <h2 class="mb:10 f:24 f:38@sm f:fade-42 f:white@dark">《機動戰姬：聚變》角色強度排行</h2>
            <div
              class="
                overflow-x:auto
                {h:4;rounded}::scrollbar
                {bg:fade-84;rounded}::scrollbar-thumb bg:fade-40::scrollbar-thumb@dark bg:fade-80::scrollbar-thumb:hover bg:fade-48::scrollbar-thumb:hover@dark"
            >
              <table class="mb:10">
                <tr class="v:bottom">
                  <td>
                    <div class="w:max bl:5|solid|#797979 bl:5|solid|#3C3C3C@dark mr:15 bg:linear-gradient(to|right,rgba(200,200,200,0.7),rgba(170,170,170,0.7)) bg:linear-gradient(to|right,rgba(246,246,248,0.7),rgba(214,214,214,0.7))@dark f:black p:8|14 lh:1.6 f:18">
                      <span class="f:bolder ur r:5 p:2">Tier 0</span>：綜合性能極高，且具有不可取代性或特殊作用的角色<br>
                      <span class="f:bolder ssrt r:5 p:2">Tier 1</span>：綜合性能優秀，或特定場合特別強勢的角色<br>
                      <span class="f:bolder srt r:5 p:2">Tier 2</span>：綜合性能尚可的對策性角色<br>
                      <span class="f:bolder rt r:5 p:2">Tier 3</span>：綜合性能較為不足的弱勢角色<br>
                      <span class="f:bolder nt r:5 p:2">Tier 4</span>：綜合性能貧弱，幾乎不會使用角色
                    </div>
                  </td>
                  <td>
                    <div class="w:max bl:5|solid|#797979 bl:5|solid|#3C3C3C@dark mr:15 bg:linear-gradient(to|right,rgba(200,200,200,0.7),rgba(170,170,170,0.7)) bg:linear-gradient(to|right,rgba(246,246,248,0.7),rgba(214,214,214,0.7))@dark f:black p:8|14 lh:1.6 f:18">
                      <span class="f:bolder f:#FFE153 text-shadow:1|1|3|black">SS</span>：非常強勢，具有無可取代性或獨特性<br>
                      <span class="f:bolder f:#FF9797 text-shadow:1|1|3|black">Ｓ</span>：強勢，經常選用<br>
                      <span class="f:bolder f:#ACD6FF text-shadow:1|1|3|black">Ａ</span>：普通，視情況選用<br>
                      <span class="f:bolder f:#BBFFBB text-shadow:1|1|3|black">Ｂ</span>：弱勢，幾乎不使用
                    </div>
                  </td>
                  <td>
                    <div class="w:max bl:5|solid|#797979 bl:5|solid|#3C3C3C@dark mr:15 bg:linear-gradient(to|right,rgba(200,200,200,0.7),rgba(170,170,170,0.7)) bg:linear-gradient(to|right,rgba(246,246,248,0.7),rgba(214,214,214,0.7))@dark f:black p:8|14 lh:1.6 f:18">
                      最新更新日期：2023 04/12
                    </div>
                  </td>
                </tr>
              </table>
              <table
                class="
                w:full
                min-w:900
                t:center
                border-collapse:collapse
                table-layout:fixed
                {p:8|6;lh:1.25;b:1|solid|fade-24}_thead_th
                {p:6;b:1|solid|fade-24}_td
                {f:bolder;f:22}_td:nth(1)
                {p:0}_td:nth(2)
                {f:bolder;f:18}_td:nth(3)
                {p:0}_td:nth(4)
                {f:bolder}_td:nth(5)
                {f:bolder;f:26}_td:nth(6)
                {f:bolder;f:26}_td:nth(7)
                {f:bolder;f:26}_td:nth(8)
                {f:20}_td:nth(9)
                {t:left}_td:nth(11)
                "
                :class="[`bg:${colors.header}_.header`,`bg:${colors.ssr}_.ssr`,`bg:${colors.sr}_.sr`,`bg:${colors.r}_.r`,`bg:${colors.ssrHeader}_.ssr-header`,`bg:${colors.srHeader}_.sr-header`,`bg:${colors.rHeader}_.r-header`]"
              >
                <colgroup> <!-- 總寬1581 -->
                  <col span="1" class="w:65px">
                  <col span="1" class="w:85px">
                  <col span="1" class="w:165px">
                  <col span="1" class="w:55px">
                  <col span="1" class="w:145px">
                  <col span="3" class="w:55px">
                  <col span="1" class="w:65px">
                  <col span="1" class="w:200px">
                  <col span="1" class="w:636px">
                </colgroup>
                <thead>
                  <tr class="ur {f:32}">
                    <th colspan="11">Tier 0</th>
                  </tr>
                  <tr class="white-header">
                    <th>評級</th>
                    <th>頭像</th>
                    <th>角色</th>
                    <th>類型</th>
                    <th>招募類別</th>
                    <th>拓荒</th>
                    <th>總力</th>
                    <th>PvP</th>
                    <th>專武<br>優先級</th>
                    <th>角色定位</th>
                    <th>簡評</th>
                  </tr>
                </thead>
                <!-- 範例 -->
                <tr class="ssr hide"> 
                  <td class="t">100000</td>
                  <td><img src="./img/arterygear/char_portrait"></td>
                  <td>角色角色角色角色</td>
                  <td><img src="./img/arterygear/Icon"></td>
                  <td><span class="">活動招募</span></td>
                  <td><span class="lvss">SS</span></td>
                  <td><span class="lvs">S</span></td>
                  <td><span class="lva">A</span></td>
                  <td>無</td>
                  <td>定位</td>
                  <td>簡評</td>
                </tr>
                <tbody>
                  <tr class="ssr">
                    <td class="ur">10.0</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000120.png"></td>
                    <td>克拉麗絲</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_4.png"></td>
                    <td><span class="event">活動招募</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td>無</td>
                    <td>先手推條(核彈發射器)<br>強力增傷<br>群體無敵/自我推條</td>
                    <td>PvP主流的魔法核彈核心之一。愛麗絲的完全上位版。推進80%附帶強力增傷效果，是目前PvP強勢的魔法核彈中的發射器，在PvE也是強力的增傷及推條手段。群體無敵在各種場合也帶來極大的生存保障及自身推條。進攻及防守性能都極強的輔助。</td>
                  </tr>
                </tbody>
                <thead>
                  <tr class="ssrt {f:32}">
                    <th colspan="11">Tier 1</th>
                  </tr>
                  <tr class="white-header">
                    <th>評級</th>
                    <th>頭像</th>
                    <th>角色</th>
                    <th>類型</th>
                    <th>招募類別</th>
                    <th>拓荒</th>
                    <th>總力</th>
                    <th>PvP</th>
                    <th>專武<br>優先級</th>
                    <th>角色定位</th>
                    <th>簡評</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="sr"> 
                    <td class="ssrt">9.1</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000098.png"></td>
                    <td>莫麗絲</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_5.png"></td>
                    <td><span class="">初始</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lva">A</span></td>
                    <td>無</td>
                    <td>最高輪轉群補<br>技能加速輔助</td>
                    <td>三大傳統群補之一。具有全AG最高、且海放其他補師的群補輪轉，3+2連段可達到每1.5回合(50%推進)全體補血+解狀態，也可把2技單純用來減CD跟推進，大幅提高其他角色的技能輪轉。由於4星角色初期技能升級成本低，性能又極強，拓荒補師首選沒有之一。</td>
                  </tr>
                  <tr class="sr"> 
                    <td class="ssrt">9.1</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000063.png"></td>
                    <td>愛麗絲</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_4.png"></td>
                    <td><span class="">初始</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lva">A</span></td>
                    <td>無</td>
                    <td>追加回合輔助<br>增傷輔助(攻擊)<br>群體降速</td>
                    <td>早期的PvP核彈發射器，但由於追加回合已有不少克制手段，加上自身速度不夠高，需要提米幫忙推進，必較限制陣容，現已很少上場。3回合1次的增傷追加回合，大幅提高我方輸出傷害及輪轉，推進性能也不錯，大招還可降速，PvE整體性能非常優秀。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="ssrt">9.1</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000002.png"></td>
                    <td>蕾拉</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_1.png"></td>
                    <td><span class="super">超武裝<br>限時招募</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lva">A</span></td>
                    <td>30</td>
                    <td>高頻率追擊<br>核心破壞</td>
                    <td>極其優秀的追擊性能，2技被動，我方每行動3回合發動一次，或普攻機率觸發目標防禦越高越痛的追擊，PvE場合下搭配破防效果可打出巨量傷害，也是目前雙子殲滅主要的討伐手段。PvP因緣際會下，定位預知未來的角色，因子化妮歐的克制手段之一。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="ssrt">9.0</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000090.png"></td>
                    <td>希裏烏斯</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_1.png"></td>
                    <td><span class="">初始</span></td>
                    <td><span class="lvs">S</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lva">A</span></td>
                    <td>無</td>
                    <td>頂速刺殺<br>高傷害連段<br>無縫破防手</td>
                    <td>開服至今仍是單體輸出的佼佼者，優秀的連段機制，不論是短期爆發還是長期續戰都有高額的傷害，還有無縫破防的能力，以輸出位來說傷害及功能性兼具。PvP方面具有127的頂速先手刺殺能力，但現今已有不少追加回合的克制手段，目前偏向於對策選用角。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="ssrt">9.0</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000042.png"></td>
                    <td>洛貝莉亞</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_4.png"></td>
                    <td><span class="event">活動招募</span></td>
                    <td><span class="lvs">S</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lva">A</span></td>
                    <td>無</td>
                    <td>傷害癱瘓<br>Debuff延長<br>高額擊退</td>
                    <td>總力大破防疊加打法的核心角色之一。2技延長Debuff的同時，還附帶大量擊退，在總力疊加Debuff的效果非常強力。常態PvE也可有效癱瘓敵人傷害，在拓荒或高傷害PvE中效果也非常優秀。PvP則作為傷害癱瘓的對策角，但速度不夠快，現已難以上場。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="ssrt">9.0</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040022.png"></td>
                    <td>短劍</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_1.png"></td>
                    <td><span class="Collabs">機甲少女</span><br><span class="Collabs">進階招募</span></td>
                    <td><span class="lvs">S</span></td>
                    <td><span class="lvs">S</span></td>
                    <td><span class="lvs">S</span></td>
                    <td>30</td>
                    <td>單體爆發<br>偏斜反擊</td>
                    <td>江湖人稱 毒瘤劍。大招是帶加速加攻的單體爆發，在PvP中對薄皮極具威脅，並且自帶迴避Buff，被打偏斜就會反擊，反擊傷害也不低，只要沒有特殊機制應對，就是靠賽鬥劍，輸贏全看臉。PvE也因偏斜反擊的機制，幾乎什麼都能打，甚至可以單挑章魚殲滅。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="ssrt">9.0</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000062.png"></td>
                    <td>伊莎貝爾</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_4.png"></td>
                    <td><span class="event">活動招募</span></td>
                    <td><span class="lvs">S</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lva">A</span></td>
                    <td>30</td>
                    <td>群體大破防<br>傷害癱瘓</td>
                    <td>總力大破防疊加打法的核心角色之一。20%機率的強力大破防，雖然在常態使用上只能當作一般破防使用，但可在總力持續RE到上大破防之後，透過後續隊伍延長Debuff，達到共享大破防的效果。PvP作為群體驅散+破防對策角，但自身速不不夠快，較難上場。</td>
                  </tr>
                  <tr class="ssr">
                    <td class="ssrt">9.0</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040011.png"></td>
                    <td>鹿目圓</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_1.png"></td>
                    <td><span class="Collabs">魔法少女小圓<br>進階招募</span></td>
                    <td><span class="lvs">S</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td>30</td>
                    <td>高貫穿群傷(魔法核彈)<br>首回合減傷</td>
                    <td>PvP主流的魔法核彈核心之一。無條件貫穿85%防禦的AOE，除少部分特規角色之外，被增傷過後基本不會留活口，出手即勝利，是目前各式新體系主要針對角色之一。由於毀滅性的範圍傷害是由高額貫穿所打出來的，在PvE中難以再提高上限，發揮較為普通。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="ssrt">8.8</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000075.png"></td>
                    <td>北斗</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_1.png"></td>
                    <td><span class="">初始</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td>30</td>
                    <td>頂速刺殺<br>強勢先手權(蒼晶加速)<br>陣容破壞(暈眩/延長CD)</td>
                    <td>PvP單點刺殺角，目前有效對抗魔法核彈的主要手段之一。對手有蒼晶角色可有效提速，高機率保證先手，即便傷害不夠直接先手擊殺，也能透過延長CD跟暈眩，達到破壞陣容的效果。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="ssrt">8.8</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000070.png"></td>
                    <td>維多利亞</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_1.png"></td>
                    <td><span class="event">活動招募</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lva">A</span></td>
                    <td>30</td>
                    <td>單體爆發<br>Debuff疊傷</td>
                    <td>高額的普攻倍率提供穩定的長期輸出，大招按照Debuff數量疊加傷害又可暈眩，在總力發揮極其優秀。PvP中因為有友軍無法被直接指定，自身回合也100%迴避，普攻又是雙體攻擊，在非核彈場合下也很好用，但避開核彈就不切實際，4v4演習外才有可能選用。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="ssrt">8.8</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040012.png"></td>
                    <td>曉美焰</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_4.png"></td>
                    <td><span class="Collabs">魔法少女小圓</span><br><span class="Collabs">進階招募</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lvs">S</span></td>
                    <td><span class="lvs">S</span></td>
                    <td>10↑</td>
                    <td>追加回合 群體無效<br>普攻擊退</td>
                    <td>開場被動無效化敵方的追加回合，直接讓PvP中追加回合的使用率減少，大幅提高推條的重要性，雖然使用率也不算高，偏向於進攻用的對策角，但本身的存在就是對機制的改變。在總力Debuff數量夠多的情況下，普攻的大量擊退可組成擊退隊伍使用。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="ssrt">8.8</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000097.png"></td>
                    <td>尤伊</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_1.png"></td>
                    <td><span class="event">活動招募</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td>無</td>
                    <td>插隊刺殺</td>
                    <td>PvP單點刺殺角，目前有效對抗魔法核彈的主要手段之一。敵人手用非攻擊技能時，自身獲得追加回合，進行插隊刺殺，雖然追加回合目前有克制手段，但仍會逼對手消耗掉一個角色位，也因此通常會與其他刺殺角一同編隊。PvE及總力表現則較為普通。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="ssrt">8.8</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000073.png"></td>
                    <td>菖蒲</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_2.png"></td>
                    <td><span class="event">活動招募</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td>無</td>
                    <td>插隊刺殺<br>BUFF偷取</td>
                    <td>PvP單點刺殺角，目前有效對抗魔法核彈的主要手段之一。敵方施放非攻擊技能時，強制插隊刺殺攻擊最高的角色，刺殺前偷取BUFF有效克制克拉麗絲、愛麗絲。由於普攻有不錯的吸血/擊退能力，有搭配吸血套組成全吸血隊打總力的非主流打法。</td>
                  </tr>
                </tbody>
                <thead>
                  <tr class="srt {f:32}">
                    <th colspan="11">Tier 2</th>
                  </tr>
                  <tr class="white-header">
                    <th>評級</th>
                    <th>頭像</th>
                    <th>角色</th>
                    <th>類型</th>
                    <th>招募類別</th>
                    <th>拓荒</th>
                    <th>總力</th>
                    <th>PvP</th>
                    <th>專武<br>優先級</th>
                    <th>角色定位</th>
                    <th>簡評</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="ssr"> 
                    <td class="srt">8.7</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000096.png"></td>
                    <td>洛可</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_4.png"></td>
                    <td><span class="">初始</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>無</td>
                    <td>腐蝕拓荒(%傷)<br>Debuff延長</td>
                    <td>新手拓荒戰神。只要是不抗腐蝕的關卡，一律用洛可固定5%傷害毒爛，活著就能通關，大幅降低新手拓荒難度。2技延長1~2回合Debuff，在總力作為大破防疊加打法的核心角色之一。</td>
                  </tr>
                  <tr class="sr"> 
                    <td class="srt">8.7</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000058.png"></td>
                    <td>千早</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_1.png"></td>
                    <td><span class="bouns">阿修羅道<br>活動獎勵</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>無</td>
                    <td>無縫破防<br>Debuff延長</td>
                    <td>在穩定的暴擊率下，可透過3+2連段達到無縫破防的效果，而且因為追加回合頻繁觸發的關係，攻擊次數高，整體傷害也不錯，在各種PvE都是非常優秀的高傷害破防手。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="srt">8.6</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040003.png"></td>
                    <td>莉拉．德西亞斯</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_1.png"></td>
                    <td><span class="Collabs">萊莎的煉金工房</span><br><span class="Collabs">進階招募</span></td>
                    <td><span class="lvs">S</span></td>
                    <td><span class="lvs">S</span></td>
                    <td><span class="lva">A</span></td>
                    <td>20↑</td>
                    <td>單體爆發<br>群體推進</td>
                    <td>優秀的2+3連段，無條件輕鬆打出812%倍率的暴擊傷害，極端場合下，搭配琉璃3+2連段幫疊層更可打出高達1231%的暴傷。不只有高額低門檻的大招爆發，還有不錯的隊友互相推進性能，在PvE表現優秀。早期的PvP單體核彈，現已被打群體魔法核彈取代。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="srt">8.6</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040024.png"></td>
                    <td>茉汀莉安姐妹</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_2.png"></td>
                    <td><span class="Collabs">機甲少女S2</span><br><span class="event">累積消費獎勵</span></td>
                    <td><span class="lvs">S</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>30</td>
                    <td>無縫破防<br>高頻率大招輸出<br>自帶無縫攻擊上升</td>
                    <td>滿專後每2回合可以放1次2+3連段，不需要其他角色幫忙就可以大招輸出+無縫破防，並且全程自帶攻擊上升，而且在總力這種高血量的關卡時，大招還會再有斬殺增傷的效果，血越少打越痛，是PvE長期輸出性能優秀的角色。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="srt">8.4</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000100.png"></td>
                    <td>希琳</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_5.png"></td>
                    <td><span class="">初始</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvs">S</span></td>
                    <td><span class="lva">A</span></td>
                    <td>0↑</td>
                    <td>蒼晶群補擔當<br>群體解狀態<br>單/群體推進</td>
                    <td>三大傳統群補之一。算是滿泛用的附帶推進功能的群補，但是在高壓環境需要最大化補血量時，還是會首選莫麗絲，一般在避免逆屬或是傷害壓力不那麼大的時候使用。由於技能成本高，初期拓荒還是更推莫麗絲。</td>
                  </tr>
                  <tr class="r"> 
                    <td class="srt">8.4</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000023.png"></td>
                    <td>卡羅琳</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_4.png"></td>
                    <td><span class="">初始</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>無</td>
                    <td>技能加速(-CD)</td>
                    <td>暴率穩定的情況下，透過普攻減少自身回合，可以達到每2回合減少隊友技能CD3回合的效果，效果強力且稀有，在各式PvE中都有極大的發揮空間。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="srt">8.4</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000013.png"></td>
                    <td>幻影</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_1.png"></td>
                    <td><span class="">精英招募</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td>0↑</td>
                    <td>速度 資料鏈插件<br>後手收割</td>
                    <td>PvP中極為重要，也是遊戲中唯一的速度插件。尤其在R4+12速的情況下，還有機會讓隊友跟上2蒼晶加速後的北斗，爭搶速度先手。雖然幻影的AOE不算太高，但如果被幻影後手收到尾刀，後續的2技追擊對薄皮角來說是毀命性的打擊。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="srt">8.4</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000129.png"></td>
                    <td>可琳姆</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_5.png"></td>
                    <td><span class="event">活動招募</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvs">S</span></td>
                    <td><span class="lva">A</span></td>
                    <td>30</td>
                    <td>電磁群補擔當<br>群體免疫<br>群體護盾</td>
                    <td>三大傳統群補之一。不同於莫麗絲、希琳，補血邏輯更傾向於事前預防，將群補近一半的補量轉換為3回合的防護罩，以及2回合的免疫。但是在高壓環境需要最大化補血量時，還是會首選莫麗絲。專武後大招補上群解效果，效果卓越，但成本極高。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="srt">8.4</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000081.png"></td>
                    <td>神樂</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_5.png"></td>
                    <td><span class="event">活動招募</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>無</td>
                    <td>增傷單補(攻擊)<br>群體吸血<br>群體護盾</td>
                    <td>大招的3回合〈破魔〉有著20%吸血的效果，相當於群補的效果。2技的群體護盾，不但有高額的單補效果，還有群體+攻擊，是非常稀有附帶增傷效果的群補，在總力中相當於一人頂2個職位。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="srt">8.4</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040014.png"></td>
                    <td>巴麻美</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_1.png"></td>
                    <td><span class="Collabs">魔法少女小圓</span><br><span class="event">累積消費獎勵</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td>30</td>
                    <td>高貫穿群傷(魔法核彈)</td>
                    <td>PvP主流的魔法核彈核心之一。總攻擊高於敵人5000點、專武後4000點，即可達到100%貫穿，攻擊差額只要夠高，出手即勝利，是目前各式新體系主要針對角色之一。由於貫穿需要依靠攻擊差額，但在PvE中大多數怪物的攻擊設定都很高，基本上傷害低下。</td>
                  </tr>
                  <tr class="sr"> 
                    <td class="srt">8.4</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040021.png"></td>
                    <td>轟雷</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_1.png"></td>
                    <td><span class="Collabs">機甲少女</span><br><span class="bouns">聯動獎勵</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvs">S</span></td>
                    <td><span class="lva">A</span></td>
                    <td>30</td>
                    <td>增傷輔助(攻擊)<br>群體擊退</td>
                    <td>大招有攻擊Buff，2技有35%擊退，傷害也不差，整體性能不錯的PvE輔助打手。大招在攻擊目標越多時傷害越高，在PvP中也頗具威脅性，但傷害終究比不過魔法核彈，基本已被取代。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="srt">8.3</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040023.png"></td>
                    <td>獵刃</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_4.png"></td>
                    <td><span class="Collabs">機甲少女</span><br><span class="Collabs">進階招募</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>0↑</td>
                    <td>群體大降速/降攻<br>普攻擊退</td>
                    <td>總力大破防疊加打法的核心角色之一。通常跟伊莎貝爾的大破防一起服用，可在開場上完大降速後，透過後續隊伍延長Debuff，達到共享Debuff的效果。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="srt">8.3</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000115.png"></td>
                    <td>阿黛拉</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_4.png"></td>
                    <td><span class="event">活動招募</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lvs">S</span></td>
                    <td><span class="lva">A</span></td>
                    <td>無</td>
                    <td>近頂速先手(126)<br>群體降速/單體大降速<br>群體延長技能CD</td>
                    <td>具有接近頂速的先手權，在PvP可先手延長對方重點角色的技能CD，或搭配超武裝梅爾，先群體降速再加CD，達到破壞陣容的效果，但隊友有蒼晶(幻影提速)時比較怕北斗。總力則作為降命中及大降速輔助，但效果不如獵刃，沒更好的弱化輔助時可選用。</td>
                  </tr>
                  <tr class="ssr">
                    <td class="srt">8.0</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000003.png"></td>
                    <td>梅爾</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_1.png"></td>
                    <td><span class="super">超武裝<br>限時招募</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lva">A</span></td>
                    <td>無</td>
                    <td>單體爆發<br>群體推條</td>
                    <td>性能不足，待專武增強。隨目標越少大招越痛，在對單目標且帶有〈福音〉狀態時，裸傷比莉拉裸2+3還高出約13%傷害，且無透過任何增傷、貫穿手段，上限可塑性極高。在PvP主要作為友軍AOE後的群體推進手段，定位較偏向於對策功能角，而非輸出。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="srt">7.9</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000008.png"></td>
                    <td>菲蒂</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_1.png"></td>
                    <td><span class="super">超武裝<br>限時招募</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lva">A</span></td>
                    <td>無</td>
                    <td>護盾克制<br>群體驅散</td>
                    <td>性能不足，待專武增強。防護罩專門克制對策，在敵方有護盾的場合下極其強勢，但PvP及PvE都不太有發揮空間，空有機制但沒地方就業的典型案例。PvP在對手陣容不足，且有使用洛蕾兒時，有十分強大的單點刺殺能力，但沒Rank6速度不夠快，需要發射器。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="srt">7.9</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040015.png"></td>
                    <td>美樹沙耶香</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_2.png"></td>
                    <td><span class="Collabs">魔法少女小圓</span><br><span class="Collabs">進階招募</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lva">A</span></td>
                    <td>0↑</td>
                    <td>普攻破防<br>坦型打手</td>
                    <td>非常薛丁格的角色，介於好用與不好用之間。角色偏向坦型打手的概念，並且Buff自給自足，大招50%貫穿的AOE傷害，有點痛又不太痛，2技被動給的Buff有點坦又不太坦，普攻的75%1回合破防，有點穩又不太穩。PvP/PvE都有點好用又有點不好用的角色。</td>
                  </tr>
                  <tr class="r"> 
                    <td class="srt">7.8</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000086.png"></td>
                    <td>小町</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_5.png"></td>
                    <td><span class="">初始</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>無</td>
                    <td>群補<br>普攻單體解狀態<br>輔助(防禦、速度)</td>
                    <td>最優秀的3星副補。雖然補量及CD都略低於其他補師，但在高壓環境下，提供速度及防禦上升，可以大幅提高隊伍的生存能力，完美符合副補的需求，加上3星培養成本低，在初期拓荒非常友善。</td>
                  </tr>
                </tbody>
                <thead>
                  <tr class="rt {f:32}">
                    <th colspan="11">Tier 3</th>
                  </tr>
                  <tr class="white-header">
                    <th>評級</th>
                    <th>頭像</th>
                    <th>角色</th>
                    <th>類型</th>
                    <th>招募類別</th>
                    <th>拓荒</th>
                    <th>總力</th>
                    <th>PvP</th>
                    <th>專武<br>優先級</th>
                    <th>角色定位</th>
                    <th>簡評</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="r"> 
                    <td class="rt">7.6</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000001.png"></td>
                    <td>妮歐</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_2.png"></td>
                    <td><span class="">初始</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>30</td>
                    <td>破防手<br>增傷輔助(攻擊)</td>
                    <td>純粹的破防+增傷輔助，在總力角色不足時是個可選用的輔助，但由於破防基礎機率只有75%，使用上較不穩定，需要依靠滿專才能拉到100%，但相對的成本也提高不少。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="rt">7.6</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040001.png"></td>
                    <td>萊莎琳．斯托特</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_1.png"></td>
                    <td><span class="Collabs">萊莎的煉金工房</span><br><span class="Collabs">進階招募</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>0↑</td>
                    <td>反擊破防手<br>標記增傷</td>
                    <td>曾經的PvP打排球核心，現已退版本。標記作為少見的額外增傷手段，在總力可作為選用的增傷輔助，也可透過每回合的反擊進行破防，但機率只有50%極其不穩定。拓荒時用來打鐵籠姬可每回合反擊賭破防，但並不是首選也沒有奇效，只是方案之一。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="rt">7.4</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000021.png"></td>
                    <td>特斐爾</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_2.png"></td>
                    <td><span class="">初始</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>1↑</td>
                    <td>反擊輸出<br>範圍暈眩</td>
                    <td>專武完善後強度仍然不足的時代眼淚。開服時期在PvP極具威脅的範圍反擊輸出，但機率過低的追加回合以及過慢的能量累積機制，在現今環境下整體性能都遠遠不如後續新角色。由於普攻有不錯的吸血能力，有搭配吸血套組成全吸血隊打總力的非主流打法。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="rt">7.4</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040002.png"></td>
                    <td>科洛蒂婭．巴蘭茨</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_4.png"></td>
                    <td><span class="Collabs">萊莎的煉金工房</span><br><span class="bouns">聯動獎勵</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>0↑</td>
                    <td>驅散輔助<br>狀態命中 資料鏈插件</td>
                    <td>具有不錯的自我推進、單體擊退以及驅散性能，以驅散輔助來說整體性能非常不錯，但目前遊戲環境沒有這種需求，加上破防有前提且覆蓋率偏低，使用門檻過高，難以上場。目前大多在總力作為非滿編隊伍的後排資料鏈。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="rt">7.4</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000101.png"></td>
                    <td>蕾薇希雅</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_5.png"></td>
                    <td><span class="event">活動招募</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lva">A</span></td>
                    <td>無</td>
                    <td>單體復活<br>單體無敵</td>
                    <td>曾經的PvP坦型復活隊核心，現今魔法核彈猖獗，基本已退出PvP舞台。目前只在少數需要保特定角色時才會出場，例如雙子9腐蝕打法保洛可。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="rt">7.4</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040016.png"></td>
                    <td>佐倉杏子</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_3.png"></td>
                    <td><span class="Collabs">魔法少女小圓</span><br><span class="Collabs">進階招募</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lva">A</span></td>
                    <td>0↑</td>
                    <td>攤傷保排(20%)<br>群體嘲諷(吸引火力)<br>防禦輔助(防禦、暴抗)</td>
                    <td>高額的傷害分攤，自身外的友軍被攻擊時，追加群體嘲諷、防禦上升，是非常優秀的保排角，無奈在同期魔法核彈的淫威下毫無發揮空間，但在4v4演習以外的3v3公會戰或RTA中，如果避開魔法核彈，仍然是非常好用的保排選用角。</td>
                  </tr>
                  <tr class="sr"> 
                    <td class="rt">7.4</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000093.png"></td>
                    <td>艾卡西亞</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_3.png"></td>
                    <td><span class="">初始</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lva">A</span></td>
                    <td>無</td>
                    <td>攤傷保排(16%)<br>自身無敵<br>普攻暈眩</td>
                    <td>優秀的攤傷+無敵組合，如果活過第1回合，即便殘血也能透過無敵在攤整整一回合，普攻暈眩也是非常煩人，問題就是活不過魔法核彈的第1回合，除了4v4演習以外的3v3公會戰或RTA中偶有機會選用外，基本不會上場。</td>
                  </tr>
                  <tr class="sr"> 
                    <td class="rt">7.4</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040013.png"></td>
                    <td>曉美焰(眼鏡 ver.)</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_4.png"></td>
                    <td><span class="Collabs">魔法少女小圓</span><br><span class="bouns">聯動獎勵</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>0</td>
                    <td>追加回合 單體無效<br>普攻擊退</td>
                    <td>5星版本的完全下位版，撇除目前較無價值的束縛不談，追加回合無效從無條件全體，劣化成攻擊後單體，發動門檻高到幾乎無法使用。反倒是普攻擊退效果和五星相同，只有攻擊跟速度較低，仍然可用於總力的擊退隊伍。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="rt">7.4</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040026.png"></td>
                    <td>安姬蒂特</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_3.png"></td>
                    <td><span class="Collabs">機甲少女S2<br>進階招募</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>30</td>
                    <td>持續傷害特化對策<br>弱化輔助(破防/降攻)</td>
                    <td>專門針對電擊、燒傷、腐蝕等持續傷害的對策用角，但目前並沒有這種環境需求，而撇除持續傷害對策用途之後，就只是個覆蓋率普通的破防/降攻輔助，沒有更好的輔助時可選用。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="rt">7.4</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040027.png"></td>
                    <td>魔鷲</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_1.png"></td>
                    <td><span class="Collabs">機甲少女S2<br>進階招募</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lva">A</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>30</td>
                    <td>弱化輔助(破防/降速)</td>
                    <td>雖然掛著強襲職業，但實際上更接近於弱化輔助(傷害也是)。降速降防的效果看似也不算太差，但覆蓋率普通，而且由於弱化穩定性建立在束縛上，而束縛在總力反而會干擾擊退效果，沒有更好的輔助時可選用，但要避免與擊退角編隊。</td>
                  </tr>
                  <tr class="ssr"> 
                    <td class="rt">7.4</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000127.png"></td>
                    <td>莉茲貝思</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_2.png"></td>
                    <td><span class="event">活動招募</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lva">A</span></td>
                    <td>無</td>
                    <td>攤傷保排(20%)<br>群體護盾</td>
                    <td>杏子的完全下位版。完全相同的技能套路，但觸發條件限制為受到群體攻擊才會發動護盾，原本後手效果就已經夠劣勢了，結果又限縮觸發條件，導致使用門檻高於杏子，基本難以上場。</td>
                  </tr>
                  <tr class="sr"> 
                    <td class="rt">7.3</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000007.png"></td>
                    <td>零四</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_1.png"></td>
                    <td><span class="">初始</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>無</td>
                    <td>單人推圖(無CD群傷)</td>
                    <td>新手拓荒戰神。大招只要擊殺2個敵人，即可直接刷新大招CD，無限大招刷怪，而且自帶攻擊上升，傷害也不錯。由系統直接獲得，在初期是非常重要的推圖即戰力，後期也是極其好用的1背3打手，工具人價值極高。</td>
                  </tr>
                  <tr class="r"> 
                    <td class="rt">7.3</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000067.png"></td>
                    <td>康納</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_1.png"></td>
                    <td><span class="">初始</span></td>
                    <td><span class="lvss">SS</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>無</td>
                    <td>延長目標CD</td>
                    <td>新手拓荒人馬專用對策。大招延長CD，普攻50%降命中，2技減傷站1號位幫忙扛傷，便宜又大碗的人馬弱化機。</td>
                  </tr>
                </tbody>
                <thead>
                  <tr class="nt {f:32}">
                    <th colspan="11">Tier 4</th>
                  </tr>
                  <tr class="white-header">
                    <th>評級</th>
                    <th>頭像</th>
                    <th>角色</th>
                    <th>類型</th>
                    <th>招募類別</th>
                    <th>拓荒</th>
                    <th>總力</th>
                    <th>PvP</th>
                    <th>專武<br>優先級</th>
                    <th>角色定位</th>
                    <th>簡評</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="sr"> 
                    <td class="nt">7.0</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000027.png"></td>
                    <td>艾莉卡</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_4.png"></td>
                    <td><span class="bouns">魔法少女艾莉卡<br>活動獎勵</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>無</td>
                    <td>技能干擾<br>驅散</td>
                    <td>綜合性能不足的活動獎勵角色。技能干擾目前無強勢使用環境，推進及驅散效果也不如其他角色，功能性少且低，整體性能不足。</td>
                  </tr>
                  <tr class="sr"> 
                    <td class="nt">7.0</td>
                    <td><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040025.png"></td>
                    <td>迅雷</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_4.png"></td>
                    <td><span class="Collabs">機甲少女S2</span><br><span class="bouns">聯動獎勵</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lvb">B</span></td>
                    <td><span class="lvb">B</span></td>
                    <td>20↑</td>
                    <td>機率反擊<br>弱化輔助(降攻)</td>
                    <td>綜合性能不足的活動獎勵角色。25%的機率式反擊，現今已被淘汰的反擊形式，機制上較為弱勢，反擊帶來的弱化強度也不足，作為作畫輔助也並不優秀。</td>
                  </tr>
                </tbody>
              </table>  
            </div>
          </div>
        </section>
      </article>

      <button
        id="menu-toggle"
        class="fixed bottom:10 left:1/2 z:1000 flex hide@sm center-content w:180 h:60 px:20 bg:linear-gradient(135deg,#618bfb,#ff56b4) r:8 translateX(-50%) ~width|.4s w:calc(100%-20px).is-active"
        type="button"
      >
        <span class="f:14 f:white .is-active_{hide}">展開選單</span>
        <span class="hide f:14 f:white .is-active_{block}">關閉選單</span>
        <div class="rel w:20 h:30 ml:4 .is-active_{ml:auto}">
          <span
            class="abs top:-8 right:0 bottom:0 left:0 w:10 h:1 m:auto bg:fade-90 .is-active_{top:0;rotate(45deg)}"
          ></span>
          <span
            class="abs top:0 right:0 bottom:0 left:0 w:10 h:1 m:auto bg:fade-90 .is-active_{opacity:0}"
          ></span>
          <span
            class="abs top:8 right:0 bottom:0 left:0 w:10 h:1 m:auto bg:fade-90 .is-active_{top:0;rotate(-45deg)}"
          ></span>
        </div>
      </button>
    </main>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            colors: {
              header:'#ffcf4f',
              ssr: "#fff2cc",
              sr: "#ead3ff",
              r: "#D2E9FF",
              'ssrHeader':'#ffe599',
              'srHeader':'#DCB5FF',
              'rHeader':'#ACD6FF',
            },
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
