<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>《機動戰姬：聚變》角色速查┃鶴姬重工┃Taiwan Games DataBase</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.png">
    <link href="./css/normal.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/master.css.js"></script>
    <script src="./js/syncscroll.js"></script>
    <script src="./js/app.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4817244281405314"
     crossorigin="anonymous"></script>
  </head>
  <body class="bg:fade-90 bg:fade-18@dark
    {w:8;h:6;rounded}::scrollbar
    bg:#d7d8df::scrollbar-thumb
    bg:#c3c6cf::scrollbar-thumb:hover
    bg:#c3c6cf::scrollbar-thumb:active
    bg:#4c515f::scrollbar-thumb@dark
    bg:#5e6476::scrollbar-thumb:hover@dark
    bg:#5e6476::scrollbar-thumb:active@dark
    bg:transparent::scrollbar-corner
    rounded::scrollbar-thumb
    overflow-x:visible">
    <main>
      <aside
        id="menu"
        class="fixed top:0 left:0 z:999 w:full w:240@sm h:full p:10|10|80 p:10@sm bg:fade-90 bg:fade-18@dark translateY(100%) translateY(0)@sm ~transform|.4s translateY(0).is-open"
      ></aside>

      <article class="{w:calc(100%-230px);ml:auto}@sm">
        <header
          id="header"
          class="sticky top:0 left:0 z:998 flex gap-x:10 p:10 bg:fade-90 bg:fade-18@dark"
        ></header>

        <section id="app" class="p:0|10|10">
          <div
            class="min-h:calc(100vh-90px) p:20|20|70 pt:20@sm p:40@sm bg:fade-88 bg:fade-24@dark bg:no-repeat bg:fixed bg:100% bg:url(https://lktb2000.github.io/LenaElsaStudio//img/home/main_background_860_w.jpg) bg:url(https://lktb2000.github.io/LenaElsaStudio/img/home/main_background_860.jpg)@dark r:8"
          >
            <div class="hide grid-cols:3 gap:10">  <!-- Hide隱藏 -->
              <div class="grid-col-span:3">
                <h3 class="f:bold f:20 f:white">表格標頭底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.header"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.header}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">SSR 標頭底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.ssrHeader"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.ssrHeader}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">SR 標頭底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.srHeader"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.srHeader}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">R 標頭底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.rHeader"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.rHeader}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">SSR 底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.ssr"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.ssr}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">SR 底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.sr"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.sr}`"></div>
                </div>
              </div>
              <div>
                <h3 class="f:bold f:20 f:white">R 底色</h3>
                <div class="rel">
                  <input
                    class="block w:full h:48 px:20 bg:white r:8 outline:0"
                    type="text"
                    v-model="colors.r"
                  />
                  <div class="abs top:1/2 right:10 w:30 h:30 translateY(-50%)" :class="`bg:${colors.r}`"></div>
                </div>
              </div>
            </div>
            <h2 class="mb:10 f:24 f:38@sm f:fade-42 f:white@dark">角色速查</h2>
            <div class="sticky top:80 left:0">
              <div class="syncscroll overflow-x:hidden" name="table-1">
                <table
                  class="
                  w:full
                  min-w:900
                  t:center
                  border-collapse:collapse
                  table-layout:fixed
                  {p:8|6;lh:1.25;b:1|solid|fade-24}_thead_th
                  "
                  :class="[`bg:${colors.header}_.header`]"
                >
                <colgroup> <!-- 總寬1581 -->
                  <col span="1" class="w:77px">
                  <col span="1" class="w:138px">
                  <col span="1" class="w:45">
                  <col span="1" class="w:115">
                  <col span="8" class="w:48px">
                  <col span="3" class="w:62px">
                  <col span="3" class="w:115px">
                  <col span="2" class="w:73px">
                  <col span="1" class="w:145px">
                </colgroup>
                  <thead>
                    <tr class="header">
                      <th>頭像</th>
                      <th>AG</th>
                      <th>招募類別</th>
                      <th>類型</th>
                      <th>生命</th>
                      <th>速度</th>
                      <th>攻擊</th>
                      <th>防禦</th>
                      <th>暴擊</th>
                      <th>暴傷</th>
                      <th>狀態<br />命中</th>
                      <th>狀態<br />抵抗</th>
                      <th>技能1<br />倍率</th>
                      <th>技能2<br />倍率</th>
                      <th>技能3<br />倍率</th>
                      <th>技能1 TAG</th>
                      <th>技能2 TAG</th>
                      <th>技能3 TAG</th>
                      <th>資料鏈</th>
                      <th>友軍<br />資料鏈</th>
                      <th>備註</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
            <div
              class="
                syncscroll
                overflow-x:auto
                {h:4;rounded}::scrollbar
                {bg:fade-84;rounded}::scrollbar-thumb
                bg:fade-40::scrollbar-thumb@dark
                bg:fade-80::scrollbar-thumb:hover
                bg:fade-48::scrollbar-thumb:hover@dark
                "
              name="table-1"
            >
              <table
                class="
                w:full
                min-w:900
                t:center
                border-collapse:collapse
                table-layout:fixed
                {p:8|6;lh:1.25;b:1|solid|fade-24}_thead_th
                {p:4;b:1|solid|fade-24;f:15}_td
                {p:0}_td:nth(1)
                {f:bolder;f:17}_td:nth(2)
                {f:bolder;p:0}_td:nth(3)
                {f:bolder;f:16}_td:nth(4)
                {f:bolder}_td:nth(5)
                {f:bolder}_td:nth(6)
                {f:bolder}_td:nth(7)
                {f:bolder}_td:nth(8)
                {f:bolder}_td:nth(9)
                {f:bolder}_td:nth(10)
                {f:bolder}_td:nth(11)
                {f:bolder}_td:nth(12)
                {f:bolder}_td:nth(16)
                {f:bolder}_td:nth(17)
                {f:bolder}_td:nth(18)
                {f:bolder}_td:nth(19)
                {f:bolder}_td:nth(20)
                {f:bolder}_td:nth(21)
                "

                :class="[`bg:${colors.header}_.header`,`bg:${colors.ssr}_.ssr`,`bg:${colors.sr}_.sr`,`bg:${colors.r}_.r`,`bg:${colors.ssrHeader}_.ssr-header`,`bg:${colors.srHeader}_.sr-header`,`bg:${colors.rHeader}_.r-header`]"
              >
                <colgroup> <!-- 總寬1581 -->
                  <col span="1" class="w:77px">
                  <col span="1" class="w:138px">
                  <col span="1" class="w:45">
                  <col span="1" class="w:115">
                  <col span="8" class="w:48px">
                  <col span="3" class="w:62px">
                  <col span="3" class="w:115px">
                  <col span="2" class="w:73px">
                  <col span="1" class="w:145px">
                </colgroup>
                <thead class>
                </thead>
                <tbody>
                  <!-- 範例 -->
                  <tr class="hide ssr">
                    <td class="ssr-header"><img src="./img/arterygear/char_portrait"></td>
                    <td class="ssr-header">ID</td>
                    <td><img src="./img/arterygear/Icon"></td>
                    <td><span class="">招募</span></td>
                    <td>HP</td>
                    <td>SPD</td>
                    <td>ATK</td>
                    <td>DEF</td>
                    <td>CRI</td>
                    <td>CRD</td>
                    <td>HIT</td>
                    <td>RES</td>
                    <td class="f:">S1</td>
                    <td class="f:">S2</td>
                    <td class="f:">S3</td>
                    <td>TAG1</td>
                    <td>TAG2</td>
                    <td>TAG3</td>
                    <td>DATA</td>
                    <td>DATAP</td>
                    <td></td>
                  </tr>
                  <tr class="ssr">
                    <td class="ssr-header"><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000021.png"></td>
                    <td class="ssr-header">特斐爾</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_2.png"></td>
                    <td><span class="f:">初始</span></td>
                    <td>8507</td>
                    <td>102</td>
                    <td>1109</td>
                    <td>754</td>
                    <td>12%</td>
                    <td>150%</td>
                    <td>0%</td>
                    <td>0%</td>
                    <td>159.0%</td>
                    <td>-</td>
                    <td class="f:bolder">178.1%</td>
                    <td>恢復生命</td>
                    <td>攻擊力疊加</td>
                    <td>攻擊力上升<br>暈眩</td>
                    <td>防禦</td>
                    <td>攻擊</td>
                    <td></td>
                  </tr>
                  <!-- 範例 -->
                  <tr class="ssr">
                    <td class="ssr-header"><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040002.png"></td>
                    <td class="ssr-header"><span class="f:16">科洛蒂婭．巴蘭茨</span></td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_2_4.png"></td>
                    <td><span class="Collabs f:15">萊莎的煉金工房</span><br><span class="bouns">聯動獎勵</span></td>
                    <td>5287</td>
                    <td>106</td>
                    <td>1404</td>
                    <td>795</td>
                    <td>12%</td>
                    <td>150%</td>
                    <td>30%</td>
                    <td>0%</td>
                    <td class="f:">137.8%</td>
                    <td class="f:bolder">96.5%</td>
                    <td class="f:bolder">123.0%</td>
                    <td>擊退行動條<br>推進行動條</td>
                    <td>解除增益狀態<br>擊退行動條</td>
                    <td>防禦力下降<br>解除增益狀態</td>
                    <td>狀態抵抗</td>
                    <td>狀態命中</td>
                    <td></td>
                  </tr>
                  <tr class="ssr">
                    <td class="ssr-header"><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10040001.png"></td>
                    <td class="ssr-header">萊莎琳．斯托特</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_1.png"></td>
                    <td><span class="Collabs  f:15">萊莎的煉金工房</span><br><span class="Collabs">聯動獎勵</span></td>
                    <td>6089</td>
                    <td>114</td>
                    <td>1380</td>
                    <td>657</td>
                    <td>12%</td>
                    <td>150%</td>
                    <td>18%</td>
                    <td>0%</td>
                    <td class="f:">137.8%</td>
                    <td class="f:bolder">107.3%</td>
                    <td class="f:bolder">151.6%</td>
                    <td>標記</td>
                    <td>防禦力下降<br>暴傷增加</td>
                    <td>不可強化<br> 不可恢復<br>暴傷增加</td>
                    <td>生命</td>
                    <td>暴擊</td>
                    <td>能量上限：150</td>
                  </tr>
                  <tr class="ssr">
                    <td class="ssr-header"><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000073.png"></td>
                    <td class="ssr-header">菖蒲</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_2.png"></td>
                    <td><span class="event">活動招募</span></td>
                    <td>7253</td>
                    <td>115</td>
                    <td>1423</td>
                    <td>541</td>
                    <td>20%</td>
                    <td>150%</td>
                    <td>0%</td>
                    <td>0%</td>
                    <td class="f:">137.8%</td>
                    <td class="f:">220.5%</td>
                    <td class="f:bolder">74.2%</td>
                    <td>恢復生命<br>推進行動條</td>
                    <td>清除減益狀態<br>轉移增益狀態<br>推進行動條</td>
                    <td>不可強化<br>不可恢復</td>
                    <td>狀態命中</td>
                    <td>生命</td>
                    <td></td>
                  </tr>
                  <tr class="ssr">
                    <td class="ssr-header"><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000003.png"></td>
                    <td class="ssr-header">梅爾</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_1.png"></td>
                    <td><span class="super">超武裝<br>限時招募</span></td>
                    <td>6946</td>
                    <td>112</td>
                    <td>1340</td>
                    <td>635</td>
                    <td>20%</td>
                    <td>150%</td>
                    <td>0%</td>
                    <td>0%</td>
                    <td>151.6%</td>
                    <td class="f:bolder">68.9%</td>
                    <td class="f:bolder">110.2%</td>
                    <td>推進行動條<br>防護罩</td>
                    <td>推進行動條<br>福音</td>
                    <td>-</td>
                    <td>暴擊<br>速度<br>熱熔傷害</td>
                    <td>防禦<br>暴擊</td>
                    <td>S2 EP.3主線角色<br><span class="f:12">無法與支援模組同時編隊<br>福音：命中率上升20%，不能被解除</span></td>
                  <tr class="ssr">
                    <td class="ssr-header"><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000115.png"></td>
                    <td class="ssr-header">阿黛拉</td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_1_4.png"></td>
                    <td><span class="event">活動招募</span></td>
                    <td>5721</td>
                    <td>126</td>
                    <td>1504</td>
                    <td>613</td>
                    <td>12%</td>
                    <td>150%</td>
                    <td>0%</td>
                    <td>0%</td>
                    <td>130.9%</td>
                    <td>137.8%</td>
                    <td class="f:bolder">110.2%</td>
                    <td>命中率下降</td>
                    <td>增加技能冷卻<br>速度大幅下降</td>
                    <td>解除增益狀態<br>速度下降<br>推進行動條<br>無法被反擊</td>
                    <td>狀態命中</td>
                    <td>生命</td>
                    <td></td>
                  </tr>
                  <tr class="urt-1">
                    <td class="urt-2"><img src="./img/arterygear/char_portrait/spr_AGsmallcard_10000004.png"></td>
                    <td class="urt-3">妮歐<br><span class="event">尚未推出</span></td>
                    <td><img src="./img/arterygear/Icon/drxx_icon_profession_3_1.png"></td>
                    <td><span class="factor">因子化畫招募<br>因子化<br>進階招募</span></td>
                    <td>5910</td>
                    <td>115</td>
                    <td>1504</td>
                    <td>596</td>
                    <td>20%</td>
                    <td>150%</td>
                    <td>0%</td>
                    <td>0%</td>
                    <td class="f:">156.6%</td>
                    <td class="f:">192.9%</td>
                    <td class="f:bolder">165.4%</td>
                    <td>推進行動條</td>
                    <td>貫穿<br>回歸戰場<br>推進行動條<br>重置技能冷卻</td>
                    <td>重置技能冷卻</td>
                    <td>暴擊</td>
                    <td>-</td>
                    <td>S2 EP.4主線角色</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </article>

      <button
        id="menu-toggle"
        class="fixed bottom:10 left:1/2 z:1000 flex hide@sm center-content w:180 h:60 px:20 bg:linear-gradient(135deg,#618bfb,#ff56b4) r:8 translateX(-50%) ~width|.4s w:calc(100%-20px).is-active"
        type="button"
      >
        <span class="f:14 f:white .is-active_{hide}">展開選單</span>
        <span class="hide f:14 f:white .is-active_{block}">關閉選單</span>
        <div class="rel w:20 h:30 ml:4 .is-active_{ml:auto}">
          <span
            class="abs top:-8 right:0 bottom:0 left:0 w:10 h:1 m:auto bg:fade-90 .is-active_{top:0;rotate(45deg)}"
          ></span>
          <span
            class="abs top:0 right:0 bottom:0 left:0 w:10 h:1 m:auto bg:fade-90 .is-active_{opacity:0}"
          ></span>
          <span
            class="abs top:8 right:0 bottom:0 left:0 w:10 h:1 m:auto bg:fade-90 .is-active_{top:0;rotate(-45deg)}"
          ></span>
        </div>
      </button>
    </main>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            colors: {
              header:'#ffcf4f',
              ssr: "#fff2cc",
              sr: "#F1E1FF",
              r: "#D2E9FF",
              'ssrHeader':'#ffe599',
              'srHeader':'#DCB5FF',
              'rHeader':'#ACD6FF',
            },
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
